In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName('PysparkTransformation').getOrCreate()

In [4]:
df_pyspark = spark.read.csv(r'C:\Users\Dusty\Downloads\Internship\Git_Repo\Customer-Order-Processing-ETL-Pipeline\data\cleaned&transformed_sample_orders.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+------------------+-----------+--------+------+----------+------------------+
|OrderID|      CustomerName|ProductName|Quantity| Price| OrderDate|        TotalPrice|
+-------+------------------+-----------+--------+------+----------+------------------+
|      1|      Nicole Evans|     Laptop|       2|948.49|2024-03-28|           1896.98|
|      2|       Selena Neal| Headphones|       5|713.94|2024-03-12|3569.7000000000003|
|      3|      Andrew Davis|   Keyboard|       1|799.83|2024-06-10|            799.83|
|      4|        Alex Young| Headphones|       5|731.78|2024-04-12|3658.8999999999996|
|      5|       Joshua Sosa| Headphones|       1|465.68|2024-10-25|            465.68|
|      6|         Anna Case| Smartphone|       4|920.59|2024-10-05|           3682.36|
|      7|      Pamela Owens| Headphones|       2|732.83|2024-07-28|           1465.66|
|      8|       Roy Johnson|   Keyboard|       3|321.89|2024-08-06|            965.67|
|      9|    Joseph Collier| Smartphone|       1|631.84|2024-12-05|            631.84|
|     10|      Jason Sexton|      Mouse|       4|915.61|2024-04-08|           3662.44|
|     11|       Luis Taylor|      Mouse|       2|275.98|2024-11-19|            551.96|
|     12|      Thomas Gomez|     Tablet|       2|591.58|2024-05-01|           1183.16|
|     13|     Lance Carroll|     Laptop|       1|204.39|2024-04-26|            204.39|
|     14|     Joshua Fields|     Laptop|       1|459.49|2024-03-15|            459.49|
|     15|  Christina Rivera|      Mouse|       3|750.71|2024-11-25|           2252.13|
|     16|Dr. Michael Dawson|      Mouse|       2|404.18|2024-08-28|            808.36|
|     17|       Brandy Hall|     Laptop|       5|722.48|2024-11-07|            3612.4|
|     18|     Andrew Newton|   Keyboard|       5|885.48|2024-03-27|            4427.4|
|     19|      Michele King|     Laptop|       5|448.01|2024-11-16|           2240.05|
|     20|      Aimee Knight|      Mouse|       4|281.87|2024-09-08|           1127.48|
+-------+------------------+-----------+--------+------+----------+------------------+
only showing top 20 rows

In [ ]:
df_pyspark=df_pyspark.withColumn('TotalPrice', round(df_pyspark['TotalPrice'],2))
df_pyspark.show()

+-------+------------------+-----------+--------+------+----------+----------+
|OrderID|      CustomerName|ProductName|Quantity| Price| OrderDate|TotalPrice|
+-------+------------------+-----------+--------+------+----------+----------+
|      1|      Nicole Evans|     Laptop|       2|948.49|2024-03-28|   1896.98|
|      2|       Selena Neal| Headphones|       5|713.94|2024-03-12|    3569.7|
|      3|      Andrew Davis|   Keyboard|       1|799.83|2024-06-10|    799.83|
|      4|        Alex Young| Headphones|       5|731.78|2024-04-12|    3658.9|
|      5|       Joshua Sosa| Headphones|       1|465.68|2024-10-25|    465.68|
|      6|         Anna Case| Smartphone|       4|920.59|2024-10-05|   3682.36|
|      7|      Pamela Owens| Headphones|       2|732.83|2024-07-28|   1465.66|
|      8|       Roy Johnson|   Keyboard|       3|321.89|2024-08-06|    965.67|
|      9|    Joseph Collier| Smartphone|       1|631.84|2024-12-05|    631.84|
|     10|      Jason Sexton|      Mouse|       4|915.61|2024-04-08|   3662.44|
|     11|       Luis Taylor|      Mouse|       2|275.98|2024-11-19|    551.96|
|     12|      Thomas Gomez|     Tablet|       2|591.58|2024-05-01|   1183.16|
|     13|     Lance Carroll|     Laptop|       1|204.39|2024-04-26|    204.39|
|     14|     Joshua Fields|     Laptop|       1|459.49|2024-03-15|    459.49|
|     15|  Christina Rivera|      Mouse|       3|750.71|2024-11-25|   2252.13|
|     16|Dr. Michael Dawson|      Mouse|       2|404.18|2024-08-28|    808.36|
|     17|       Brandy Hall|     Laptop|       5|722.48|2024-11-07|    3612.4|
|     18|     Andrew Newton|   Keyboard|       5|885.48|2024-03-27|    4427.4|
|     19|      Michele King|     Laptop|       5|448.01|2024-11-16|   2240.05|
|     20|      Aimee Knight|      Mouse|       4|281.87|2024-09-08|   1127.48|
+-------+------------------+-----------+--------+------+----------+----------+
only showing top 20 rows

In [ ]:
df_filled = df_pyspark.na.fill({'Price':0})

In [ ]:
df_filled = df_pyspark.na.fill({'CustomerName':'Unknown'})

In [ ]:
df_filled = df_pyspark.na.fill({'Quantity':0})

In [ ]:
df_cleaned = df_pyspark.dropDuplicates()

In [ ]:
agg_df_pyspark = df_pyspark.groupBy('CustomerName').sum('TotalPrice')

In [ ]:
agg_df_pyspark.show()

+------------------+---------------+
|      CustomerName|sum(TotalPrice)|
+------------------+---------------+
|  Patrick Robinson|        3170.88|
|     Benjamin Bush|         1970.8|
|      Jason Sexton|        3662.44|
|    Alexander Hunt|         510.76|
|       Jessica Lee|          725.1|
|  Christina Rivera|        2252.13|
|Dr. Michael Dawson|         808.36|
| Elizabeth Jackson|         2333.4|
|   William Proctor|         732.25|
|      David Molina|         541.34|
|       Alyssa Cruz|          837.3|
|     Andrew Haynes|         871.82|
|      Traci Bryant|         113.37|
| Miss Rhonda Chang|         754.84|
|      Susan Martin|        1024.18|
|Veronica Velazquez|        2769.93|
|    Clinton Harris|         995.95|
|       Luis Taylor|         551.96|
|    Brandon Monroe|         198.69|
|        April Cole|        1486.86|
+------------------+---------------+
only showing top 20 rows

In [ ]:
df_TotalRevenue = df_pyspark.selectExpr('sum(Price * Quantity) as TotalRevenue')

In [ ]:
df_TotalRevenue.show()

+------------------+
|      TotalRevenue|
+------------------+
|149868.83000000002|
+------------------+

In [ ]:
productCount = df_pyspark.groupBy('ProductName').agg(sum('Quantity').alias('TotalUnits'),sum('TotalPrice').alias('TotalUnitsPrice'))

In [ ]:
productCount.show()

+-----------+----------+------------------+
|ProductName|TotalUnits|   TotalUnitsPrice|
+-----------+----------+------------------+
|     Laptop|        43|21992.019999999997|
|      Mouse|        53|           22059.2|
|     Tablet|        40|          17144.65|
|   Keyboard|        67|37424.579999999994|
| Smartphone|        44|24429.379999999997|
| Headphones|        45|26819.000000000004|
+-----------+----------+------------------+

In [18]:
df_pyspark.coalesce(1).write.csv('/content/sample_data/Final_Orders.csv',header=True, mode="overwrite")

In [19]:
df_pyspark.write.json('/content/sample_data/Final_Orders.json', mode="overwrite")